@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#eeeeee];
}

p{
  @apply text-[15px]
}

.scroller{
  mask: linear-gradient(90deg, transparent white 20%, white 80%, transparent);
}

.scroller_inner{
  width: max-content;
}

.slick-slide > div{
  margin: 0 10px;
}